﻿/* Styles to hide white space on Quick View Form for Insurance Renewals Page*/

.refresh-form div[data-uniqueid="CurrentUPB"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="CurrentUPB"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="CurrentUPB"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="FirstLienLoanNumber"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="FirstLienLoanNumber"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="FirstLienLoanNumber"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="InvestorLoanNumber"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="InvestorLoanNumber"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="InvestorLoanNumber"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="LeadInspectorCode"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="LeadInspectorCode"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="LeadInspectorCode"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="AssetManager"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="AssetManager"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="AssetManager"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="SSManager"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="SSManager"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="SSManager"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="LienPosition"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="LienPosition"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="LienPosition"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NoteDate"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NoteDate"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NoteDate"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="MaturityDate"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="MaturityDate"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="MaturityDate"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="GSCRiskRatingEffectiveDate"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="GSCRiskRatingEffectiveDate"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="GSCRiskRatingEffectiveDate"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="GSCRiskRating"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="GSCRiskRating"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="GSCRiskRating"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="LoanMessageFlag"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="LoanMessageFlag"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="LoanMessageFlag"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OriginationType"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OriginationType"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OriginationType"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OMPlans"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OMPlans"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OMPlans"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyType"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyType"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyType"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="TotalUnits"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="TotalUnits"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="TotalUnits"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NumberOfBuildings"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NumberOfBuildings"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NumberOfBuildings"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyNumber"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyNumber"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyNumber"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="InspectionDate"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="InspectionDate"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="InspectionDate"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyState"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyState"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyState"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyCity"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyCity"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyCity"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OriginalUPB"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OriginalUPB"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OriginalUPB"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyAddress"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyAddress"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyAddress"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NumberofUnits"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NumberofUnits"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NumberofUnits"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="YearBuilt"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="YearBuilt"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="YearBuilt"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="YearRenovated"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="YearRenovated"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="YearRenovated"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyState2"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyState2"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyState2"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NumberofFloors"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NumberofFloors"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NumberofFloors"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="PropertyType2"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="PropertyType2"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="PropertyType2"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="ZipCode"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="ZipCode"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="ZipCode"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="LastInspectionRating"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="LastInspectionRating"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="LastInspectionRating"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OwnerofLoan"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OwnerofLoan"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OwnerofLoan"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OM"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OM"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OM"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="OM2"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="OM2"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="OM2"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NumberofBeds"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NumberofBeds"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NumberofBeds"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="NumberofParkingSpaces"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="NumberofParkingSpaces"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="NumberofParkingSpaces"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="TotalSquareFeetGross"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="TotalSquareFeetGross"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="TotalSquareFeetGross"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}

.refresh-form div[data-uniqueid="TotalSquareFeetNet"] .ms-crm-FormBodyContainer TABLE.ms-crm-FormSection {padding:0px;margin-top:0;margin-bottom:0;}
.refresh-form div[data-uniqueid="TotalSquareFeetNet"] DIV.ms-crm-InlineTabContainer-Read {margin-top:0px;margin-left:-5px;margin-right:-5px;margin-bottom:-5px;}
.refresh-form div[data-uniqueid="TotalSquareFeetNet"] DIV.ms-crm-QuickForm TR.ms-crm-Form-SectionGapRow {height: 0px;}